/* Calculate button*/
.button2 {
  background-color: black; 
  border: none;
  color: white;
  padding: 11px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  cursor: pointer;
  margin-top: 0px;

}

/* Save button*/
.button3 {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 0px;
  cursor: pointer;
  margin-left: 209px;
  margin-bottom: 50px;
  
}

/*size table1*/
#sizetable1 {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 60%;
  margin-bottom: 50px;
  margin-left: 50px;
}

#sizetable1 td, #sizetable1 th {
  border: 1px solid #e8a900;
  padding: 8px;
}

#sizetable1 tr:nth-child(even){background-color: #F8F2E8;}

#sizetable1 tr:hover {background-color: #ddd;}

#sizetable1 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #333;
  color: #F8F2E8;
}

/*size table1*/
#sizetable2 {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 60%;
  margin-bottom: 50px;
  margin-left: 208px;
}

#sizetable2 td, #sizetable2 th {
  border: 1px solid #e8a900;
  padding: 8px;
}

#sizetable2 tr:nth-child(even){background-color: #F8F2E8;}

#sizetable2 tr:hover {background-color: #ddd;}

#sizetable2 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: black;
  color: #F8F2E8;
}


.tables{display:block; width:100%; margin:0; padding:0; text-align:left; word-wrap:break-word;}
/*
The "hoc" class is a generic class used to centre a containing element horizontally
It should be used in conjunction with a second class or ID
*/
.hoc{display:block; margin:0 auto;}

h2   {color: #F8F2E8;
	font-family:verdana;	
}

p    {color: #F8F2E8;
}

/* select button*/
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .button1 {
	background-color: black; 
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 4px;
	cursor: pointer;
	height:49px;
	width: 200px;
	
	
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: BLACK;
  padding: 15px 32px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #F8F2E8;
}

.dropdown:hover .dropdown-content {
  display: block;
}








